.building-content {
  width: calc(100% - 96px);
  height: calc(100% - 88px);

  margin: 0px 48px 16px 48px;
  display: flex;
}

.building-main-content {
  width: calc(70% - 12px);
  height: 100%;

  margin-right: 24px;
}

.building-side-content {
  width: calc(30% - 12px);
  height: calc(100% - 18px);
}

.building-info {
  height: calc(65% - 18px);

  padding: 16px;
  margin-bottom: 24px;
}

.building-content-modes {
  display: flex;
}

.building-img {
  width: 100%;
  height: calc(35% - 20px);
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
